* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3f3f3;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: linear-gradient(to right,orange, yellow);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    display: inline-block;
}

.nav-links a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffeb3b;
}

.container {
    padding: 50px;
}

/* Styling tambahan untuk halaman tertentu */
.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.text {
    font-size: 20px;
    color: #555;
}